tls:
  certificates:
    - certFile: /etc/traefik/dynamic/certs/dev-local.crt
      keyFile: /etc/traefik/dynamic/certs/dev-local.key

http:
  routers:
    frontend:
      rule: Host(`fire.local.test`) || Host(`fire.local.test.dk`)
      entrypoints:
        - websecure
      tls: {}
      service: frontend

    api:
      # Only route API-related paths to the backend; /swagger-ui/** is handled by the swaggerui router.
      rule: (Host(`api.local.test`) || Host(`api.local.test.dk`)) && (PathPrefix(`/api`) || PathPrefix(`/actuator`) || PathPrefix(`/v3/api-docs`))
      entrypoints:
        - websecure
      tls: {}
      service: api
      middlewares:
        - api-cors

    swaggerui:
      rule: (Host(`api.local.test`) || Host(`api.local.test.dk`)) && PathPrefix(`/swagger-ui`)
      priority: 100
      entrypoints:
        - websecure
      tls: {}
      service: swaggerui

    http-catchall:
      rule: PathPrefix(`/`)
      entrypoints:
        - web
      middlewares:
        - redirect-https
      service: noop@internal

  services:
    frontend:
      loadBalancer:
        servers:
          - url: http://frontend:3000

    api:
      loadBalancer:
        servers:
          - url: http://api:8080

    swaggerui:
      loadBalancer:
        servers:
          - url: http://swaggerui:8080

  middlewares:
    redirect-https:
      redirectScheme:
        scheme: https

    api-cors:
      headers:
        accessControlAllowOriginList:
          - https://fire.local.test
          - https://fire.local.test.dk
        accessControlAllowMethods:
          - GET
          - POST
          - PUT
          - DELETE
          - OPTIONS
          - PATCH
        accessControlAllowHeaders: "*"
        accessControlExposeHeaders:
          - Content-Disposition
        accessControlAllowCredentials: false
        addVaryHeader: true